/CheckMatrix.py
/CheckPOLY.py
/Cofactor.py
/INPUTS.py
/LinClassification.py
/LINREGNOBIAS.py
/LINREGNODUPL.py
/LinRegression.py
/PolyClassificatio.py
/PolyRegression.py
/REF.py
/solveXw=y.py
/test.py
/tut2.py
/tut2_qn1.csv
/tut2_qn2.csv
/tut2_qn5.csv
/__pycache__
encoded_data.csv